.portfolio {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .progress {
    h1 {
      max-width: 1024px;
      color: #414040;
      display: flex;
      margin: auto;
      font-size: 45px;
      padding-bottom: 20px;
    }
  }
}
