.contact {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    h1 {
      font-size: 90px;
      line-height: 1.2;
      color: #fde4cf;
    }
    p {
      font-weight: 300;
    }
    .item {
      h3 {
        color: #414040;
      }
      p {
        color: #414040;
      }
    }
  }
  .formContainer {
    flex: 1;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;

      gap: 20px;
      input,
      textarea {
        padding: 20px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid white;
        color: #414040;
        border-radius: 5px;
        &:focus,
        &:active {
          outline: 1px solid #ffcfd2;
          border: 1px solid white;
        }
      }
      button {
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        background-color: transparent;
        border: 1px solid #cfbaf0;
        color: #414040;
        border-radius: 25px;
        cursor: pointer;
        background: #cfbaf0;
      }
    }
  }
}
