.navbar {
  height: 100px;
  padding: 1rem;
  .wrapper {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;      
    @media only screen and (max-width: 1024px) {
        padding-left: 100px;
      }
    span {
      font-weight: bold;
      color: black;
      font-size: 24px;

    }
    .social {
      display: flex;
      gap: 20px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
