html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}
body {
  background-color: #a3c4f3;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
